### IntelliJ IDEA ###
.idea/*
!.idea/icon.svg
*.iws
*.iml
*.ipr

/**/server.properties
/**/server.docker.properties
/**/application-server.properties
/**/application-dynamic-*.yml

/jwt
server.core.properties
settings.media.ini
.env

### Sonar ###
.scannerwork

### i18n ###
/.generated
/.tmp-i18n

### Core Server ###
revoicechat.service

### Media Server ###

# Stored files
media-server/www/data/attachments/*
media-server/www/data/attachments/thumbnail/*
media-server/www/data/profiles/*
media-server/www/data/emojis/*
media-server/www/data/emojis/global/*

#  Keep files
!media-server/www/data/attachments/.keep
!media-server/www/data/attachments/thumbnail/
!media-server/www/data/attachments/thumbnail/.keep
!media-server/www/data/attachments/logo
!media-server/www/data/profiles/default-avatar
!media-server/www/data/profiles/.keep
!media-server/www/data/emojis/.keep
!media-server/www/data/emojis/global/.keep
!media-server/www/data/emojis/assets/*

# Settings
media-server/settings.ini

node_modules
**/package-lock.json