### IntelliJ IDEA ###
.idea/*
!.idea/icon.svg
*.iws
*.iml
*.ipr

/**/server.properties
/**/server.docker.properties
/**/application-server.properties
/**/application-dynamic-*.yml

/jwt
server.core.properties
settings.media.ini
.env

### Sonar ###
.scannerwork
