[Unit]
Description=ReVoiceChat Core Server

[Service]
Type=simple
User=[YOUR USER]
Group=[YOUR USER GROUP]

WorkingDirectory=/srv/revoicechat/core-server
ExecStart=java -Xmx4G -Xms2G -Dquarkus.config.locations=server.properties -jar /srv/revoicechat/core-server/app/target/quarkus-app/quarkus-run.jar

[Install]
WantedBy=multi-user.target