RewriteEngine On
RewriteCond %{REQUEST_URI} !\.php$

# Attachements
RewriteRule ^media/attachments/([0-9A-Za-z-]*)$ index.php?attachment=$1 [L]
RewriteRule ^media/attachments/([0-9A-Za-z-]*)/thumbnail$ index.php?attachment=$1&thumbnail [L]

# Profiles
RewriteRule ^media/profiles/([0-9A-Za-z-]*)$ index.php?profiles=$1 [L]

# Emotes
RewriteRule ^media/emote/([0-9A-Za-z-.]*)$ emote.php?any&id=$1 [L]

# Other
RewriteRule ^media/([0-9A-Za-z-.]*)$ index.php?$1 [L]